* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

.game-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.7ms;
}

.game-card:hover {
    box-shadow: 12px 12px 2px 1px rgba(173, 204, 201, 0.2);
}

.game-card h2 {
    margin: 0;
}

.game-card .rating {
    color: #f39c12;
    font-weight: bold;
}