* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

header, aside, section, footer {
    padding: 20px;
    margin: 10px;
    border: 5px dotted #ddd;
    border-radius: 5px;
}

header h1 {
    color: blue; /* Initial color */
    transition: color 1s;
    text-align: center;
}

p {
    color: #fff;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #fff;
    padding-right: 8px; /* Right padding to separate text from border */
    border-right: 1px solid #fff; /* White border for links */
}

/* Last anchor in the links div should not have a right border */
.links a:last-child {
    border-right: none;
}

footer {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

i.fas {
    font-size: 2rem;  /* Set icon size */
    color: #fff;      /* Set icon color to white */
    margin-right: 10px; /* Add spacing between icon and text */
}

/* Specific icon styling if needed */
i.fa-gamepad, i.fa-chess-knight, i.fa-puzzle-piece {
    padding: 5px; /* Adds padding around the icon */
    border-radius: 50%; /* Makes background circular */
    background-color: #444; /* Darker background for visibility */
}


.main-content {
    flex: 1 0 auto;
}

.links {
    display: block;
}

.date, .currentYear {
    color: #fff;
}

a:hover {
    color: red;
    text-decoration: underline;
}

/* Animations for paragraphs on scroll */
section .slide-left, section .slide-right {
    opacity: 0; /* Start elements as invisible */
}

/* Specific animations for sliding directions */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Responsive design adjustments */
@media (min-width: 992px) { /* Desktops */
    aside { width: 20%; float: left; }
    section { width: 75%; float: right; }
}

@media (min-width: 768px) and (max-width: 991px) { /* Tablets */
    aside, section {
        width: 100%;
        float: none;
    }
}

@media (max-width: 767px) { /* Mobile Phones */
    aside, section {
        width: 100%;
        float: none;
    }
}
